body {
  background-color: floralwhite;
}

#main-nav {
  background-color: #ffdbed;
}

#main {
  border: solid 1em lavenderblush;
  background-color: lavenderblush;
}

#header {
  background-color: mistyrose;
}

h1 {
  color: #ff00ff;
}

h3 {
  color: #ff00ff;
  border-bottom: solid 1px #ffcbef;
}
h3:before {
  content: "";
  display: inline-block;
  margin-bottom: 0.125em;
  margin-right: 0.25em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
  background-color: #ffcbef;
}

.nav-item {
  padding: 0.25em;
  text-align: center;
}

.nav-item.active {
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.5);
}

.greeting {
  font-size: 1.25rem;
  color: indianred;
}
